.header-panel {
    min-width: 100%;
}

.logo {
    font-size: 32px;
    color: mediumblue;
}

.course-category-panel {
    background-color: #f0f0f0;
    max-height: 200px;
    max-width: 300px;
}

.course-category-panel:hover {
    background-color: #d8d8d8;
    outline: solid #d8d8d8 10px;
}

.course-category-panel:hover .course-name-label {
    background-color: #f0f0f0;
}

.course-name-label {
    font-size: 28px;
    background-color: #d8d8d8;
}

.course-description-label {
    font-size: 20px;
    min-height: 52px;
    max-width: 320px;
}

.main-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
    margin-left: 100px;
    min-width: 80%;
    min-height: 90%;
}

.logo-image {
    height: 100px;
    width: 180px;
}

.search-bar {
    min-width: 48%;
    font-size: 24px;
}

.user-label {
    font-size: 20px;
}

.user-avatar {
}

.user-panel-layout {
    font-size: 20px;
}

.menu-bar {
    padding-right: 75px;
}

.nav-panel {
    background-color: #f0f0f0;
    min-height: 700px;
    min-width: 252px;
    max-width: 252px;
}

.nav-button {
    min-width: 200px;
    padding: 0px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 18px;
    align-content: center;
}

.nav-button-admin {
    min-width: 200px;
    padding: 0px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 6px;
    align-content: center;
    background-color: #b8b8f0;
}

.course-creation-panel {
    padding:20px;
    background-color: #f0f0f0;
}

.course-creation-tf {
    margin-bottom: 15px;
}

.course-creation-button {
}

.footer-layout {
    min-width: 100%;
    align-content: center;
}

.footer {
    min-width: 100%;
    background-color: #f0f0f0;
    align-content: center;
    text-align: center;
}